:root {
    --grid-size: 40px;

    /* https://m3.material.io/styles/color/static/baseline */
    --bg-color: #141218;    /* Surface */
    --grid-color: #1d1b20;  /* Surface Container Low */

    --node-title-font: bold 12px sans-serif;
    --node-title-color: #ffffff;     /* On primary */

    --node-body-font: 12px monospace;
    --node-body-color: #ded8e1;      /* Surface Dim */

    --node-constant-bg: #4a4458;    /* On secondary container */
    --node-constant-body: #211f26;  /* Surface Container */
    --node-operator-bg: #4f378b;    /* On primary container */
    --node-operator-body: #211f26;  /* Surface Container */
    --node-output-bg: #006c35;      /* Green 40 */
    --node-output-body: #00381f;    /* Green 20 */

    --pin-in-color: #acedff;        /* Cyan 90 */
    --pin-out-color: #fff2b4;       /* Yellow 95 */
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    overflow: hidden;
    user-select: none;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#canvas {
    display: block;
    position: absolute;
    touch-action: none;
    top: 0;
    left: 0;
}
